@model BioskopApp.Data.Reservation

@{
    ViewBag.Title = "Rezervacija";
    Layout = "_Layout";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Rezervacije</h6>
            </div>
            <div class="card-body">
                <form asp-action="Reserve2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="ProgramOfEvents.Movie.Name" class="control-label">Naslov filma</label>
                        <input disabled asp-for="ProgramOfEvents.Movie.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ProgramOfEvents.Date" class="control-label">Datum</label>
                        <input disabled type="date" asp-for="ProgramOfEvents.Date" class="form-control" />
                        <span asp-validation-for="ProgramOfEvents.Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProgramOfEvents.Time" class="control-label">Vreme</label>
                        <input disabled type="time" asp-for="ProgramOfEvents.Time" class="form-control" />
                        <span asp-validation-for="ProgramOfEvents.Time" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProgramOfEvents.Tickets" class="control-label">Preostale karte</label>
                        <input disabled asp-for="ProgramOfEvents.Tickets" class="form-control" />
                        <span asp-validation-for="ProgramOfEvents.Tickets" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProgramOfEvents.Price" class="control-label">Cena karte</label>
                        <input disabled asp-for="ProgramOfEvents.Price" class="form-control" />
                        <span asp-validation-for="ProgramOfEvents.Price" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="ProgramOfEventsId" />
                    <div class="form-group">
                        <label asp-for="NumberOfTickets" class="control-label">Broj karata za rezervaciju</label>
                        <input asp-for="NumberOfTickets" class="form-control" />
                        <span asp-validation-for="NumberOfTickets" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Rezerviši karte" class="btn btn-default btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
