@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@UserManager.GetUserName(User)</span>
        <i class="fas fa-laugh-wink"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" id="profile" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                <form method="post" class="navbar-right" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <button type="submit" class="dropdown-item">Profil</button>
                </form>
            </a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                    <button type="submit" id="logout-button" class="dropdown-item">Odjavite se</button>
                </form>
            </a>
        </div>
    </li>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Registrujte se</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" style="padding-left: 15px">Ulogujte se</a></li>
        
    </ul>
}

    <!--
    <li class="nav-item dropdown no-arrow">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Pozdrav @UserManager.GetUserName(User)!</a>
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Odjavite se</button>
        </form>
    </li>
    
}
!-->