@{
    ViewData["Title"] = "O nama";
}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
                <h5 class="m-0 ml-4 font-weight-bold text-primary">O bioskopu Zvezda</h5>
        </div>
        <div class="card-body">
            <div class="row">
            <div class="col-lg-6" style="padding-top: 20px; padding-left:40px; padding-right:40px; text-align:justify;">
                <p>
                    Zgrada u kojoj se nalazi bioskop „Zvezda“, sagrađena je 1903. prema projektu arhitekte Milana Antonovića, i prva je namenska zgrada pravljena za potrebe fotografa u Srbiji.
                    U njoj će 25 godina raditi Milan Jovanović, jedan od prvih fotografa u Beogradu i brat našeg poznatog slikara Paje Jovanovića, koji je tokom tog perioda snimio gotovo sve važne srpske vladare, glumce, književnike, slikare, naučnike, itd. Za njegovo ime vezuje se i izdavanje prvih razglednica s natpisom „Pozdrav iz Beograda“ (1896).
                </p>
                <p>
                    Godine 1909. podrumske prostorije adaptirane su u bioskop „Koloseum“. U bioskopu je 29. decembra 1929. godine priređena prva tonska projekcija filma u Srbiji. Bio je to film "Dama sa trotoara", sa meksičkom glumicom Lupe Velez u glavnoj ulozi.
                </p>
                <p>  
                    Bioskop menja naziv u „Zvezda” 1946. godine kada se osniva preduzeće „Gradski bioskop“ koje kasnije dobija naziv „Beograd film“.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 ml-2 mb-4" src="/images/IMG_8740.jpg" alt="slika glavne sale">
                </div> 
            </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                <img class="img-fluid px-3 px-sm-4 ml-5 mt-3 mb-4" src="/images/Zgrada.jpg" alt="slika ulaza i fasade" />
                </div>
                <div class="col-lg-6" style="padding-top: 45px; padding-left: 40px; padding-right: 40px; text-align:justify;">
                <p>
                    Zgrada bioskopa je pod prvostepenom zaštitom Zavoda za zaštitu spomenika kulture grada Beograda. Fasada je urađena u stilu secesije sa stilizovanom dekoracijom na bočnom rizalitu (puti sa fotoaparatom i floralni motivi). U unutrašnjosti zgrade nalazi se spomen-vitraž posvećen pioniru fotografije u Srbiji i Evropi – Anastasu Jovanoviću.
                </p>
                <p>Najstariji bioskop u Beogradu zatvoren je od 2007. godine kada je većinski vlasnik "Beograd filma" postao je Nikola Đivanović, koji je zbog malverzacija tokom privatizacije, 
                    u martu 2011. godine osuđen na tri godine zatvora i novčanu kaznu.
                    Posle velikih kupoprodajnih mahinacija koje su biznismena Nikolu Đivanovića odvele i u zatvor, 14 bioskopa "Beograd filma" ostalo je zatvoreno ili prodato za drugu namenu.
                    Bioskop je od 2007. prepušten devastaciji i bio je potpuno napušten do novembra 2014.</p>
                </div>
            </div>
        <div class="row">
           
            <div class="col-lg-6 mt-5" style="text-align: justify; padding-left:40px; padding-right:40px;" >
                <p>Bioskop Zvezda ima bioskopsku salu od 300 mesta koja se koristi u jesenjem, zimskom i prolećnom periodu, dok se u letnjem periodu koristi letnja pozornica sa kapacitetom od 250 mesta koja je na vrhu zgrade. U slučaju kiše u letnjem periodu, projekcije se održavaju u glavnoj sali.
                    Od 2014. od kako je bioskop okupirala grupa mladih umetnika, održano je preko 1000 projekcija, održavani su koncerti, tribine, izložbe, itd. Tako da je danas postao jedno kultno mesto gde se okupljaju Beogradjani, posebno tokom letnje sezone kad se projekcije održavaju na letnjoj pozornici. O samoj okupaciji i aktivnostima Novog Bioskopa Zvezda su pisali svi regionalni mediji, kao i vecina uglednih svetskih medija.</p>
            </div>
            <div class="col-lg-6">
                <img src="/images/letnjakisa.jpg" alt="letnja pozornica" class="img-fluid px-3 px-sm-4  mt-3 mb-4">
            </div>
        </div>
    </div>
    </div>
