@{
    ViewData["Title"] = "About";
}
<h2><b>O bioskopu Zvezda</b></h2>

<img style="padding-top: 20px; padding-bottom: 20px" src="/images/sala.jpg" alt="slikaSale" width="1130" />

<p style="text-align: justify; font-size: 120%;">
    Zgrada u kojoj se nalazi bioskop „Zvezda“, sagrađena je 1903. prema projektu arhitekte Milana Antonovića, i prva je namenska zgrada pravljena za potrebe fotografa u Srbiji.
    U njoj će 25 godina raditi Milan Jovanović, jedan od prvih fotografa u Beogradu i brat našeg poznatog slikara Paje Jovanovića, koji je tokom tog perioda snimio gotovo sve važne srpske vladare, glumce, književnike, slikare, naučnike, itd. Za njegovo ime vezuje se i izdavanje prvih razglednica s natpisom „Pozdrav iz Beograda“ (1896).
</p>
<p style="text-align: justify; font-size: 120%;">
    Godine 1909. podrumske prostorije adaptirane su u bioskop „Koloseum“. U bioskopu je 29. decembra 1929. godine priređena prva tonska projekcija filma u Srbiji. Bio je to film "Dama sa trotoara", sa meksičkom glumicom Lupe Velez u glavnoj ulozi.
    Bioskop menja naziv u „Zvezda” 1946. godine kada se osniva preduzeće „Gradski bioskop“ koje kasnije dobija naziv „Beograd film“.
</p>
<p style="text-align: justify; font-size: 120%;">
    Zgrada bioskopa je pod prvostepenom zaštitom Zavoda za zaštitu spomenika kulture grada Beograda. Fasada je urađena u stilu secesije sa stilizovanom dekoracijom na bočnom rizalitu (puti sa fotoaparatom i floralni motivi). U unutrašnjosti zgrade nalazi se spomen-vitraž posvećen pioniru fotografije u Srbiji i Evropi – Anastasu Jovanoviću.
</p>

<img style="padding-top: 20px; float: left" src="/images/koloseum.jpg" width="380" alt="slika ulaza i fasade" />
<p style="float: right; width: 500px; height: 600px; text-align: justify; padding-top: 20px; font-size: 120%;">Bioskop Zvezda ima bioskopsku salu od 300 mesta koja se koristi u jesenjem, zimskom i prolecnom periodu, dok se u letnjem periodu koristi letnja pozornica sa kapacitetom od 250 mesta koja je na vrhu zgrade. U slučaju kiše u letnjem periodu, projekcije se održavaju u glavnoj sali.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />