@{
    ViewData["Title"] = "Kontakt";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 ml-4 font-weight-bold text-primary">Kontakt</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 mt-4" style="padding-left: 40px;">
                <h5>Adresa</h5>
                <address>
                    Terazije 40,<br />
                    11000 Beograd<br />
                    <abbr>Telefon</abbr>
                    065/639-8932
                </address>

                <address>
                    <strong>Podrška:</strong> <a href="mailto:one.logo@yahoo.com">one.logo@yahoo.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:vlopicic@gmail.com">vlopicic@gmail.com</a>
                </address>
            </div>
            
            <div class="col-lg-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.5046757418327!2d20.459526915535772!3d44.811282279098776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7aaefa691507%3A0x435d130a2a21aaf4!2sTerazije+40%2C+Beograd!5e0!3m2!1sen!2srs!4v1557162927384!5m2!1sen!2srs" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>


