@{
    ViewData["Title"] = "Contact";
}
    <div class="card shadow mb4">
        <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Kontakt</h6>
        </div>
        <div class="card-body">
            <h4>Adresa</h4>
            <address>
                Stanislava Sremcevica 7a<br />
                11000 Beograd<br />
                <abbr>Telefon</abbr>
                065/639-8932
            </address>

            <address>
                <strong>Podrška:</strong> <a href="mailto:one.logo@yahoo.com">one.logo@yahoo.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:vlopicic@gmail.com">vlopicic@gmail.com</a>
            </address>
        </div>
    </div>
</div>
