#logoutForm {
    padding:0px;
    display:inline-block;
}

#logout-button{
    padding:0px;
    background:none!important;
    border:none; 
}

.table-large-text td {
    max-width:200px;
}

.table_content {
    max-height:122px;
    overflow: hidden;
}

.table_trailer {
    max-width:50px;
}

td {
    vertical-align: middle !important;
}

.table_image img {
    width: 100px;
}

.long-description-movie {
    min-height: 120px;
}


.sy-pager {
    margin-bottom:13px;
}
