#logoutForm {
    padding:0px;
    display:inline-block;
}

#logout-button{
    padding:0px;
    background:none!important;
    border:none; 
}

.table-large-text td {
    max-width:200px;
}

.table_content {
    max-height:50px;
    overflow: hidden;
}